body {
margin: 0px;
font-family: Kalam;
}

.start-btn, .restart-btn, .next-btn, .score {
    font-family: Kalam;
    color: white;
    background-color: rgb(214, 151, 69);
    font-weight: bolder;
    border-radius: 8px;
    padding:35px 90px;
    font-size: 2.5rem ;
    box-shadow: 36px 24px 16px -3px rgba(0,0,0,0.1);
    border-style: none;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
}
.start-btn{
    transition: all 0.3s ease-in-out 0s;
}
/* can combine with other divs later */
.title{
    font-size: 300%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.welcome{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 1.3rem;
    border-style: outset;
    border-color: black;
    font-weight: bold;
    text-align: center;
}
.game-title {
    color: rgb(247, 243, 243);
    margin-bottom: 0px;
    margin-top: 10px;
}
.start{
    display: flex;
    align-items: center;
    justify-content: center;
     
}
.description {
    display: flex;
    align-items: center;
    justify-content: center; 
}
#screen-one {
    background-image:url("./images/background\ 2.jpg");
    background-size: cover;
    background-position: center;
    display: block;
    height: 100vh
}

#screen-two, #screen-three {
    display: none;
    overflow: hidden;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#screen-two, #screen-three {
    background-image: url('./images/Project\ 1\ \ page\ 2.jpg') ;
    background-size: cover;
    
}



.game-container {
background-position: center;
margin: 10px;
}

.problem-displayed{
    display: flex;
    justify-content: center;
    margin: 70px 0px 50px 0px;
    
    
}

.the-problem{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}


.score{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 10%;
    
}
.status{
    display: flex;
    align-items: center;
    justify-content: center;  
}
.all-answers{
    display: flex;
    align-items: center;
    justify-content: center;
}
.the-results {
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column; 
    color: whitesmoke;
    
}
    